ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
background-color: #11270B;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #598B2C;
}

body#yay {
    font-family: Arial, Helvetica, sans-serif;
    background: #fefefe;

}